{% extends 'layout.html' %}

{% block body %}
    <h1>Dashboard </h1>
    <hr>
    <table class="table table-striped">
        <tr>
        <td>
            <li><a href="../static/classification_report_knn.txt" target="_blank">View Matriks</a></li>
        </td>
        </tr>
    </table>

    {% for hasil_knns in hasil_knn %}
                {{titles[loop.index]}}
                {{ hasil_knns|safe }}
    {% endfor %}
{% endblock %}