{% extends 'layout.html' %}
{% block body %}
    
  <h1>Dashboard </h1>
  <hr>
  <table class="table table-striped">
      <tr>
        <td>
            <li><a href="../static/classification_report.txt" target="_blank">View Matriks</a></li> <br><br>
            <center><img src="../static/tree.png"></center>
        </td>
      </tr>
  </table>

{% endblock %}